.tsstu-footer {
	height: 110px;
	width: 100%;
	background-color: #4285f4; 
	position: fixed; 
	bottom: 0;
	color: white;
	vertical-align: bottom;
	border-top-width: 1px;
    border-top-style: solid;
    border-top-color: #CCC;
}

.tsstu-footer li {
	height: 110px;
	width: 25%;
	float: left;
	font-size: 28px;
	text-align: center;
}

.tsstu-footer .icon img {
	height: 40px;
	width: 40px;
	text-align: center;
	margin-top: 15px;
}

.tsstu-footer .text {
	padding-top: 8px;
}

.tsstu-footer .focus {
	color: #fac639;
}