<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<!-- 实时行情(hq_quotation) -->
<mapper namespace="com.tsstu.front.dao.QuotationMapper" >

	<resultMap id="BaseResultMap" type="com.tsstu.common.model.Quotation">
		<id column="id" property="id" jdbcType="INTEGER" />
		<result column="bid" property="bid" jdbcType="NUMERIC" />
		<result column="low" property="low" jdbcType="NUMERIC" />
		<result column="high" property="high" jdbcType="NUMERIC" />
		<result column="ctm" property="ctm" jdbcType="INTEGER" />
		<result column="dt" property="dt" jdbcType="TIMESTAMP" />
		<result column="ct" property="ct" jdbcType="TIMESTAMP" />
	</resultMap>
	
	<!-- 查询列表 -->
	<select id="getList" resultMap="BaseResultMap">
		select
			id,
			bid,
			low,
			high,
			ctm,
			dt,
			ct
		from 
			hq_quotation
		<trim prefix="where" prefixOverrides="and|or">
			<if test="dt_begin != null and dt_begin != ''">
				and dt &gt;= #{dt_begin}
			</if>
			<if test="dt_end != null and dt_end != ''">
				and dt &lt;= #{dt_end}
			</if>
		</trim>
		<if test="orderBy != null and orderBy != ''">
			order by #{orderBy } #{direction }
		</if>
		<if test="orderBy == null or orderBy == ''">
			order by id desc
		</if>
	</select>
	
	<!-- 根据id唯一查询 -->
	<select id="getOne" resultMap="BaseResultMap">
		select 
			id,
			bid,
			low,
			high,
			ctm,
			dt,
			ct
		from  
			hq_quotation 
		where 
			id = #{id} limit 1
	</select>

	<!-- 添加 -->
	<insert id="add" useGeneratedKeys="true" keyProperty="id" keyColumn="id">
	    insert into hq_quotation
	    <trim prefix="(" suffix=")" suffixOverrides="," >
			<if test="bid != null">bid,</if>
			<if test="low != null">low,</if>
			<if test="high != null">high,</if>
			<if test="ctm != null">ctm,</if>
			<if test="dt != null">dt,</if>
			<if test="ct != null">ct,</if>
	    </trim>
	    <trim prefix="values (" suffix=")" suffixOverrides="," >
			<if test="bid != null">#{bid, jdbcType=NUMERIC},</if>
			<if test="low != null">#{low, jdbcType=NUMERIC},</if>
			<if test="high != null">#{high, jdbcType=NUMERIC},</if>
			<if test="ctm != null">#{ctm, jdbcType=INTEGER},</if>
			<if test="dt != null">#{dt, jdbcType=TIMESTAMP},</if>
			<if test="ct != null">#{ct, jdbcType=TIMESTAMP},</if>
	    </trim>
	</insert>
	
	<!-- 修改 -->
	<update id="update">
		update
			hq_quotation
		set 
		<trim suffixOverrides="," >
			<if test="bid != null">bid = #{bid, jdbcType=NUMERIC},</if>
			<if test="low != null">low = #{low, jdbcType=NUMERIC},</if>
			<if test="high != null">high = #{high, jdbcType=NUMERIC},</if>
			<if test="ctm != null">ctm = #{ctm, jdbcType=INTEGER},</if>
			<if test="dt != null">dt = #{dt, jdbcType=TIMESTAMP},</if>
			<if test="ct != null">ct = #{ct, jdbcType=TIMESTAMP},</if>
	    </trim>
		where 
			id = #{id}
	</update>
	
	<!--删除-->
	<delete id="delete" parameterType="Integer">
		delete from 
			hq_quotation
		where id=#{id} 
	</delete>
	
	<!-- 批量删除 -->
	<delete id="deleteBatch">
		delete  from
			hq_quotation
		where 
			id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id} 
        </foreach>
	</delete>
	
	<!-- 判断是否重复 -->
	<select id="isExist" resultType="Boolean">
		select 
			(case when count(0)>0 then 1 else 0 end) 
		from hq_quotation
		<trim prefix="where" prefixOverrides="and|or">
			<if test="id != null">and id&lt;&gt;#{id, jdbcType=INTEGER}</if>
		</trim>
	</select>
</mapper>