<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<!-- 产品管理(时限模式)(wp_cycle_product) -->
<mapper namespace="com.tsstu.console.dao.CycleProductMapper" >

	<resultMap id="BaseResultMap" type="com.tsstu.console.model.CycleProduct">
		<id column="id" property="id" jdbcType="INTEGER" />
		<result column="code" property="code" jdbcType="VARCHAR" />
		<result column="name" property="name" jdbcType="VARCHAR" />
		<result column="unit" property="unit" jdbcType="VARCHAR" />
		<result column="product_category_id" property="product_category_id" jdbcType="INTEGER" />
		<result column="max_hold_amount" property="max_hold_amount" jdbcType="NUMERIC" />
		<result column="min_create_amount" property="min_create_amount" jdbcType="NUMERIC" />
		<result column="fee_formula" property="fee_formula" jdbcType="VARCHAR" />
		<result column="status" property="status" jdbcType="INTEGER" />
		<result column="sort" property="sort" jdbcType="INTEGER" />
		<result column="create_time" property="create_time" jdbcType="TIMESTAMP" />
	</resultMap>
	
	<!-- 查询列表 -->
	<select id="getList" resultMap="BaseResultMap">
		select
			id,
			code,
			name,
			unit,
			product_category_id,
			max_hold_amount,
			min_create_amount,
			fee_formula,
			status,
			sort,
			create_time
		from 
			wp_cycle_product
		<trim prefix="where" prefixOverrides="and|or">
			<!-- 关键词检索 -->
			<if test="keywords!= null and keywords != ''">
				and (
					 code like CONCAT(CONCAT('%', #{keywords }),'%')
					or name like CONCAT(CONCAT('%', #{keywords }),'%')
				)
			</if>
			<if test="code != null and code != ''">
				and code = #{code}
			</if>
			<if test="name != null and name != ''">
				and name = #{name}
			</if>
			<if test="unit != null and unit != ''">
				and unit = #{unit}
			</if>
			<if test="product_category_id != null and product_category_id != ''">
				and product_category_id = #{product_category_id}
			</if>
			<if test="max_hold_amount != null and max_hold_amount != ''">
				and max_hold_amount = #{max_hold_amount}
			</if>
			<if test="min_create_amount != null and min_create_amount != ''">
				and min_create_amount = #{min_create_amount}
			</if>
			<if test="fee_formula != null and fee_formula != ''">
				and fee_formula = #{fee_formula}
			</if>
			<if test="status != null and status != ''">
				and status = #{status}
			</if>
			<if test="sort != null and sort != ''">
				and sort = #{sort}
			</if>
			<if test="create_time_begin != null and create_time_begin != ''">
				and create_time &gt;= #{create_time_begin}
			</if>
			<if test="create_time_end != null and create_time_end != ''">
				and create_time &lt;= #{create_time_end}
			</if>
		</trim>
		<if test="orderBy != null and orderBy != ''">
			order by ${orderBy } ${sort_direction }
		</if>
		<if test="orderBy == null or orderBy == ''">
			order by sort 
		</if>
	</select>
	
	<!-- 根据id唯一查询 -->
	<select id="getOne" resultMap="BaseResultMap">
		select 
			id,
			code,
			name,
			unit,
			product_category_id,
			max_hold_amount,
			min_create_amount,
			fee_formula,
			status,
			sort,
			create_time
		from  
			wp_cycle_product 
		where 
			id = #{id} limit 1
	</select>

	<!-- 添加 -->
	<insert id="add" useGeneratedKeys="true" keyProperty="id" keyColumn="id">
	    insert into wp_cycle_product
	    <trim prefix="(" suffix=")" suffixOverrides="," >
			<if test="code != null">code,</if>
			<if test="name != null">name,</if>
			<if test="unit != null">unit,</if>
			<if test="product_category_id != null">product_category_id,</if>
			<if test="max_hold_amount != null">max_hold_amount,</if>
			<if test="min_create_amount != null">min_create_amount,</if>
			<if test="fee_formula != null">fee_formula,</if>
			<if test="status != null">status,</if>
			<if test="sort != null">sort,</if>
			<if test="create_time != null">create_time,</if>
	    </trim>
	    <trim prefix="values (" suffix=")" suffixOverrides="," >
			<if test="code != null">#{code, jdbcType=VARCHAR},</if>
			<if test="name != null">#{name, jdbcType=VARCHAR},</if>
			<if test="unit != null">#{unit, jdbcType=VARCHAR},</if>
			<if test="product_category_id != null">#{product_category_id, jdbcType=INTEGER},</if>
			<if test="max_hold_amount != null">#{max_hold_amount, jdbcType=NUMERIC},</if>
			<if test="min_create_amount != null">#{min_create_amount, jdbcType=NUMERIC},</if>
			<if test="fee_formula != null">#{fee_formula, jdbcType=VARCHAR},</if>
			<if test="status != null">#{status, jdbcType=INTEGER},</if>
			<if test="sort != null">#{sort, jdbcType=INTEGER},</if>
			<if test="create_time != null">#{create_time, jdbcType=TIMESTAMP},</if>
	    </trim>
	</insert>
	
	<!-- 修改 -->
	<update id="update">
		update
			wp_cycle_product
		set 
		<trim suffixOverrides="," >
			<if test="code != null">code=#{code, jdbcType=VARCHAR},</if>
			<if test="name != null">name=#{name, jdbcType=VARCHAR},</if>
			<if test="unit != null">unit=#{unit, jdbcType=VARCHAR},</if>
			<if test="product_category_id != null">product_category_id=#{product_category_id, jdbcType=INTEGER},</if>
			<if test="max_hold_amount != null">max_hold_amount=#{max_hold_amount, jdbcType=NUMERIC},</if>
			<if test="min_create_amount != null">min_create_amount=#{min_create_amount, jdbcType=NUMERIC},</if>
			<if test="fee_formula != null">fee_formula=#{fee_formula, jdbcType=VARCHAR},</if>
			<if test="status != null">status=#{status, jdbcType=INTEGER},</if>
			<if test="sort != null">sort=#{sort, jdbcType=INTEGER},</if>
	    </trim>
		where 
			id = #{id}
	</update>
	
	<!--删除-->
	<delete id="delete" parameterType="Integer">
		delete from 
			wp_cycle_product
		where id=#{id} 
	</delete>
	
	<!-- 批量删除 -->
	<delete id="deleteBatch">
		delete  from
			wp_cycle_product
		where 
			id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id} 
        </foreach>
	</delete>
	
	<!-- 判断是否重复 -->
	<select id="isExist" resultType="Boolean">
		select 
			(case when count(0)>0 then 1 else 0 end) 
		from wp_cycle_product
		<trim prefix="where" prefixOverrides="and|or">
			<if test="id != null">and id&lt;&gt;#{id, jdbcType=INTEGER}</if>
			<if test="code != null and code != ''">and code=#{code, jdbcType=VARCHAR}</if>
			<if test="name != null and name != ''">and name=#{name, jdbcType=VARCHAR}</if>
		</trim>
	</select>
	
	<!-- 统计数量-->
	<select id="getCount" resultType="Boolean">
		select 
			(case when count(0)>0 then 1 else 0 end) 
		from wp_cycle_product
		<trim prefix="where" prefixOverrides="and|or">
			<if test="id != null">and id&lt;&gt;#{id, jdbcType=INTEGER}</if>
			<if test="code != null and code != ''">and code=#{code, jdbcType=VARCHAR}</if>
			<if test="name != null and name != ''">and name=#{name, jdbcType=VARCHAR}</if>
			<if test="product_category_id != null and product_category_id != ''">and product_category_id=#{unit, jdbcType=INTEGER}</if>
		</trim>
	</select>
</mapper>