<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<!-- 会员提现订单(wp_member_withdraw_order) -->
<mapper namespace="com.tsstu.console.dao.MemberWithdrawOrderMapper" >

	<resultMap id="BaseResultMap" type="com.tsstu.console.model.MemberWithdrawOrder">
		<id column="id" property="id" jdbcType="INTEGER" />
		<result column="flow_no" property="flow_no" jdbcType="VARCHAR" />
		<result column="member_id" property="member_id" jdbcType="INTEGER" />
		<result column="amount" property="amount" jdbcType="NUMERIC" />
		<result column="fee" property="fee" jdbcType="NUMERIC" />
		<result column="bank_no" property="bank_no" jdbcType="VARCHAR" />
		<result column="province_code" property="province_code" jdbcType="INTEGER" />
		<result column="city_code" property="city_code" jdbcType="INTEGER" />
		<result column="bank_branch" property="bank_branch" jdbcType="VARCHAR" />
		<result column="bankcard_no" property="bankcard_no" jdbcType="VARCHAR" />
		<result column="real_name" property="real_name" jdbcType="VARCHAR" />
		<result column="identity" property="identity" jdbcType="VARCHAR" />
		<result column="apply_time" property="apply_time" jdbcType="TIMESTAMP" />
		<result column="status" property="status" jdbcType="INTEGER" />
		<result column="review_sign" property="review_sign" jdbcType="INTEGER" />
		<result column="review_id" property="review_id" jdbcType="INTEGER" />
		<result column="review_time" property="review_time" jdbcType="TIMESTAMP" />
		<result column="review_remark" property="review_remark" jdbcType="VARCHAR" />
		<result column="review_status" property="review_status" jdbcType="INTEGER" />
		<result column="pay_id" property="pay_id" jdbcType="INTEGER" />
		<result column="pay_time" property="pay_time" jdbcType="TIMESTAMP" />
		<result column="pay_remark" property="pay_remark" jdbcType="VARCHAR" />
		<result column="pay_method" property="pay_method" jdbcType="INTEGER" />
		<result column="third_flow_no" property="third_flow_no" jdbcType="VARCHAR" />
	</resultMap>
	
	<!-- 查询列表 -->
	<select id="getList" resultMap="BaseResultMap">
		select
			id,
			flow_no,
			member_id,
			amount,
			fee,
			bank_no,
			province_code,
			city_code,
			bank_branch,
			bankcard_no,
			real_name,
			identity,
			apply_time,
			status,
			review_sign,
			review_id,
			review_time,
			review_remark,
			review_status,
			pay_id,
			pay_time,
			pay_remark,
			pay_method,
			third_flow_no
		from 
			wp_member_withdraw_order
		<trim prefix="where" prefixOverrides="and|or">
			<!-- 关键词检索 -->
			<if test="keywords!= null and keywords != ''">
				and (
					 flow_no like CONCAT(CONCAT('%', #{keywords }),'%')
					or bank_no like CONCAT(CONCAT('%', #{keywords }),'%')
					or bank_branch like CONCAT(CONCAT('%', #{keywords }),'%')
					or bankcard_no like CONCAT(CONCAT('%', #{keywords }),'%')
					or real_name like CONCAT(CONCAT('%', #{keywords }),'%')
					or identity like CONCAT(CONCAT('%', #{keywords }),'%')
					or review_remark like CONCAT(CONCAT('%', #{keywords }),'%')
					or third_flow_no like CONCAT(CONCAT('%', #{keywords }),'%')
					or pay_remark like CONCAT(CONCAT('%', #{keywords }),'%')
				)
			</if>
			<if test="flow_no != null and flow_no != ''">
				and flow_no = #{flow_no}
			</if>
			<if test="member_id != null and member_id != ''">
				and member_id = #{member_id}
			</if>
			<if test="bank_no != null and bank_no != ''">
				and bank_no = #{bank_no}
			</if>
			<if test="bank_branch != null and bank_branch != ''">
				and bank_branch = #{bank_branch}
			</if>
			<if test="bankcard_no != null and bankcard_no != ''">
				and bankcard_no = #{bankcard_no}
			</if>
			<if test="real_name != null and real_name != ''">
				and real_name = #{real_name}
			</if>
			<if test="identity != null and identity != ''">
				and identity = #{identity}
			</if>
			<if test="status != null and status != ''">
				and status = #{status}
			</if>
			<if test="review_sign != null and review_sign != ''">
				and review_sign = #{review_sign}
			</if>
			<if test="review_remark != null and review_remark != ''">
				and review_remark = #{review_remark}
			</if>
			<if test="review_status != null and review_status != ''">
				and review_status = #{review_status}
			</if>
			<if test="pay_method != null and pay_method != ''">
				and pay_method = #{pay_method}
			</if>
			<if test="third_flow_no != null and third_flow_no != ''">
				and third_flow_no = #{third_flow_no}
			</if>
			<if test="pay_remark != null and pay_remark != ''">
				and pay_remark = #{pay_remark}
			</if>
		</trim>
		<if test="orderBy != null and orderBy != ''">
			order by #{orderBy } #{direction }
		</if>
		<if test="orderBy == null or orderBy == ''">
			order by id desc
		</if>
	</select>
	
	<!-- 根据id唯一查询 -->
	<select id="getOne" resultMap="BaseResultMap">
		select 
			id,
			flow_no,
			member_id,
			amount,
			fee,
			bank_no,
			province_code,
			city_code,
			bank_branch,
			bankcard_no,
			real_name,
			identity,
			apply_time,
			status,
			review_sign,
			review_id,
			review_time,
			review_remark,
			review_status,
			pay_id,
			pay_time,
			pay_remark,
			pay_method,
			third_flow_no
		from  
			wp_member_withdraw_order 
		where 
			id = #{id} limit 1
	</select>

	<!-- 添加 -->
	<insert id="add" useGeneratedKeys="true" keyProperty="id" keyColumn="id">
	    insert into wp_member_withdraw_order
	    <trim prefix="(" suffix=")" suffixOverrides="," >
			<if test="flow_no != null">flow_no,</if>
			<if test="member_id != null">member_id,</if>
			<if test="amount != null">amount,</if>
			<if test="fee != null">fee,</if>
			<if test="bank_no != null">bank_no,</if>
			<if test="province_code != null">province_code,</if>
			<if test="city_code != null">city_code,</if>
			<if test="bank_branch != null">bank_branch,</if>
			<if test="bankcard_no != null">bankcard_no,</if>
			<if test="real_name != null">real_name,</if>
			<if test="identity != null">identity,</if>
			<if test="apply_time != null">apply_time,</if>
			<if test="status != null">status,</if>
			<if test="review_sign != null">review_sign,</if>
			<if test="review_id != null">review_id,</if>
			<if test="review_time != null">review_time,</if>
			<if test="review_remark != null">review_remark,</if>
			<if test="review_status != null">review_status,</if>
			<if test="pay_method != null">pay_method,</if>
			<if test="third_flow_no != null">third_flow_no,</if>
			<if test="pay_id != null">pay_id,</if>
			<if test="pay_time != null">pay_time,</if>
			<if test="pay_remark != null">pay_remark,</if>
	    </trim>
	    <trim prefix="values (" suffix=")" suffixOverrides="," >
			<if test="flow_no != null">#{flow_no, jdbcType=VARCHAR},</if>
			<if test="member_id != null">#{member_id, jdbcType=INTEGER},</if>
			<if test="amount != null">#{amount, jdbcType=NUMERIC},</if>
			<if test="fee != null">#{fee, jdbcType=NUMERIC},</if>
			<if test="bank_no != null">#{bank_no, jdbcType=VARCHAR},</if>
			<if test="province_code != null">#{province_code, jdbcType=INTEGER},</if>
			<if test="city_code != null">#{city_code, jdbcType=INTEGER},</if>
			<if test="bank_branch != null">#{bank_branch, jdbcType=VARCHAR},</if>
			<if test="bankcard_no != null">#{bankcard_no, jdbcType=VARCHAR},</if>
			<if test="real_name != null">#{real_name, jdbcType=VARCHAR},</if>
			<if test="identity != null">#{identity, jdbcType=VARCHAR},</if>
			<if test="apply_time != null">#{apply_time, jdbcType=TIMESTAMP},</if>
			<if test="status != null">#{status, jdbcType=INTEGER},</if>
			<if test="review_sign != null">#{review_sign, jdbcType=INTEGER},</if>
			<if test="review_id != null">#{review_id, jdbcType=INTEGER},</if>
			<if test="review_time != null">#{review_time, jdbcType=TIMESTAMP},</if>
			<if test="review_remark != null">#{review_remark, jdbcType=VARCHAR},</if>
			<if test="review_status != null">#{review_status, jdbcType=INTEGER},</if>
			<if test="pay_method != null">#{pay_method, jdbcType=INTEGER},</if>
			<if test="third_flow_no != null">#{third_flow_no, jdbcType=VARCHAR},</if>
			<if test="pay_id != null">#{pay_id, jdbcType=INTEGER},</if>
			<if test="pay_time != null">#{pay_time, jdbcType=TIMESTAMP},</if>
			<if test="pay_remark != null">#{pay_remark, jdbcType=VARCHAR},</if>
	    </trim>
	</insert>
	
	<!-- 修改 -->
	<update id="update">
		update
			wp_member_withdraw_order
		set 
		<trim suffixOverrides="," >
			<if test="flow_no != null">flow_no = #{flow_no, jdbcType=VARCHAR},</if>
			<if test="member_id != null">member_id = #{member_id, jdbcType=INTEGER},</if>
			<if test="amount != null">amount = #{amount, jdbcType=NUMERIC},</if>
			<if test="fee != null">fee = #{fee, jdbcType=NUMERIC},</if>
			<if test="bank_no != null">bank_no = #{bank_no, jdbcType=VARCHAR},</if>
			<if test="province_code != null">province_code = #{province_code, jdbcType=INTEGER},</if>
			<if test="city_code != null">city_code = #{city_code, jdbcType=INTEGER},</if>
			<if test="bank_branch != null">bank_branch = #{bank_branch, jdbcType=VARCHAR},</if>
			<if test="bankcard_no != null">bankcard_no = #{bankcard_no, jdbcType=VARCHAR},</if>
			<if test="real_name != null">real_name = #{real_name, jdbcType=VARCHAR},</if>
			<if test="identity != null">identity = #{identity, jdbcType=VARCHAR},</if>
			<if test="apply_time != null">apply_time = #{apply_time, jdbcType=TIMESTAMP},</if>
			<if test="status != null">status = #{status, jdbcType=INTEGER},</if>
			<if test="review_sign != null">review_sign = #{review_sign, jdbcType=INTEGER},</if>
			<if test="review_id != null">review_id = #{review_id, jdbcType=INTEGER},</if>
			<if test="review_time != null">review_time = #{review_time, jdbcType=TIMESTAMP},</if>
			<if test="review_remark != null">review_remark = #{review_remark, jdbcType=VARCHAR},</if>
			<if test="review_status != null">review_status = #{review_status, jdbcType=INTEGER},</if>
			<if test="pay_method != null">pay_method = #{pay_method, jdbcType=INTEGER},</if>
			<if test="third_flow_no != null">third_flow_no = #{third_flow_no, jdbcType=VARCHAR},</if>
			<if test="pay_id != null">pay_id = #{pay_id, jdbcType=INTEGER},</if>
			<if test="pay_time != null">pay_time = #{pay_time, jdbcType=TIMESTAMP},</if>
			<if test="pay_remark != null">pay_remark = #{pay_remark, jdbcType=VARCHAR},</if>
	    </trim>
		where 
			id = #{id}
	</update>
	
	<!--删除-->
	<delete id="delete" parameterType="Integer">
		delete from 
			wp_member_withdraw_order
		where id=#{id} 
	</delete>
	
	<!-- 批量删除 -->
	<delete id="deleteBatch">
		delete  from
			wp_member_withdraw_order
		where 
			id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id} 
        </foreach>
	</delete>
	
	<!-- 判断是否重复 -->
	<select id="isExist" resultType="Boolean">
		select 
			(case when count(0)>0 then 1 else 0 end) 
		from wp_member_withdraw_order
		<trim prefix="where" prefixOverrides="and|or">
			<if test="id != null">and id&lt;&gt;#{id, jdbcType=INTEGER}</if>
			<if test="flow_no != null and flow_no != ''">and flow_no=#{flow_no, jdbcType=VARCHAR}</if>
		</trim>
	</select>
</mapper>