<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<!-- 充值订单(wp_recharge_order) -->
<mapper namespace="com.tsstu.console.dao.RechargeOrderMapper" >

	<resultMap id="BaseResultMap" type="com.tsstu.console.model.RechargeOrder">
		<id column="id" property="id" jdbcType="INTEGER" />
		<result column="customer_id" property="customer_id" jdbcType="INTEGER" />
		<result column="flow_no" property="flow_no" jdbcType="VARCHAR" />
		<result column="amount" property="amount" jdbcType="NUMERIC" />
		<result column="fee" property="fee" jdbcType="NUMERIC" />
		<result column="payment_method" property="payment_method" jdbcType="INTEGER" />
		<result column="status" property="status" jdbcType="INTEGER" />
		<result column="recharge_time" property="recharge_time" jdbcType="TIMESTAMP" />
		<result column="pay_sn" property="pay_sn" jdbcType="VARCHAR" />
		<result column="callback_time" property="callback_time" jdbcType="TIMESTAMP" />
		<result column="remark" property="remark" jdbcType="VARCHAR" />
		<result column="pay_ip" property="pay_ip" jdbcType="VARCHAR" />
		<result column="operation_member_id" property="operation_member_id" jdbcType="INTEGER" />
		<result column="member_id" property="member_id" jdbcType="INTEGER" />
		<result column="agent_member_id" property="agent_member_id" jdbcType="INTEGER" />
		<result column="recharge_timestamp" property="recharge_timestamp" jdbcType="INTEGER" />
		
		<result column="mobile" property="mobile" jdbcType="VARCHAR" />
		<result column="nick_name" property="nick_name" jdbcType="VARCHAR" />
		<result column="real_name" property="real_name" jdbcType="VARCHAR" />
	</resultMap>
	
	<!-- 查询列表 -->
	<select id="getList" resultMap="BaseResultMap">
		select
			o.id,
			o.customer_id,
			o.flow_no,
			o.amount,
			o.fee,
			o.payment_method,
			o.status,
			o.recharge_time,
			o.pay_sn,
			o.callback_time,
			o.remark,
			o.pay_ip,
			o.operation_member_id,
			o.member_id,
			o.agent_member_id,
			o.recharge_timestamp,
			c.mobile,
			c.nick_name
		from 
			wp_recharge_order o left join wp_customer c on o.customer_id = c.id
		<trim prefix="where" prefixOverrides="and|or">
			<!-- 关键词检索 -->
			<if test="keywords!= null and keywords != ''">
				and (
					 o.flow_no like CONCAT(CONCAT('%', #{keywords }),'%')
					or o.pay_sn like CONCAT(CONCAT('%', #{keywords }),'%')
				)
			</if>
			<if test="flow_no != null and flow_no != ''">
				and o.flow_no = #{flow_no}
			</if>
			<if test="payment_method != null and payment_method != ''">
				and o.payment_method = #{payment_method}
			</if>
			<if test="status != null and status != ''">
				and o.status = #{status}
			</if>
			<if test="recharge_time_begin != null and recharge_time_begin != ''">
				and o.recharge_time &gt;= #{recharge_time_begin}
			</if>
			<if test="recharge_time_end != null and recharge_time_end != ''">
				and o.recharge_time &lt;= #{recharge_time_end}
			</if>
			<if test="pay_sn != null and pay_sn != ''">
				and o.pay_sn = #{pay_sn}
			</if>
			<if test="pay_ip != null and pay_ip != ''">
				and o.pay_ip = #{pay_ip}
			</if>
			<if test="operation_member_id != null and operation_member_id != ''">
				and o.operation_member_id = #{operation_member_id}
			</if>
			<if test="member_id != null and member_id != ''">
				and o.member_id = #{member_id}
			</if>
			<if test="agent_member_id != null and agent_member_id != ''">
				and o.agent_member_id = #{agent_member_id}
			</if>
			<if test="recharge_timestamp != null and recharge_timestamp != ''">
				and o.recharge_timestamp = #{recharge_timestamp}
			</if>
			<if test="mobile != null and mobile != ''">
				and o.mobile = #{mobile}
			</if>
			<if test="h_number != null and h_number != ''">
				and c.h_number like CONCAT(#{h_number }, '%') and c.h_level > #{h_level }
			</if>
		</trim>
	</select>
	
	<!-- 根据id唯一查询 -->
	<select id="getOne" resultMap="BaseResultMap">
		select
			o.id,
			o.customer_id,
			o.flow_no,
			o.amount,
			o.fee,
			o.payment_method,
			o.status,
			o.recharge_time,
			o.pay_sn,
			o.callback_time,
			o.remark,
			o.pay_ip,
			o.operation_member_id,
			o.member_id,
			o.agent_member_id,
			o.recharge_timestamp,
			c.mobile,
			c.nick_name
		from 
			wp_recharge_order o left join wp_customer c on o.customer_id = c.id
		where 
			o.id = #{id} limit 1
	</select>

	<!-- 添加 -->
	<insert id="add" useGeneratedKeys="true" keyProperty="id" keyColumn="id">
	    insert into wp_recharge_order
	    <trim prefix="(" suffix=")" suffixOverrides="," >
			<if test="customer_id != null">customer_id,</if>
			<if test="flow_no != null">flow_no,</if>
			<if test="amount != null">amount,</if>
			<if test="fee != null">fee,</if>
			<if test="payment_method != null">payment_method,</if>
			<if test="status != null">status,</if>
			<if test="recharge_time != null">recharge_time,</if>
			<if test="pay_sn != null">pay_sn,</if>
			<if test="callback_time != null">callback_time,</if>
			<if test="remark != null">remark,</if>
			<if test="pay_ip != null">pay_ip,</if>
			<if test="operation_member_id != null">operation_member_id,</if>
			<if test="member_id != null">member_id,</if>
			<if test="agent_member_id != null">agent_member_id,</if>
			<if test="recharge_timestamp != null">recharge_timestamp,</if>
	    </trim>
	    <trim prefix="values (" suffix=")" suffixOverrides="," >
			<if test="customer_id != null">#{customer_id, jdbcType=INTEGER},</if>
			<if test="flow_no != null">#{flow_no, jdbcType=VARCHAR},</if>
			<if test="amount != null">#{amount, jdbcType=NUMERIC},</if>
			<if test="fee != null">#{fee, jdbcType=NUMERIC},</if>
			<if test="payment_method != null">#{payment_method, jdbcType=INTEGER},</if>
			<if test="status != null">#{status, jdbcType=INTEGER},</if>
			<if test="recharge_time != null">#{recharge_time, jdbcType=TIMESTAMP},</if>
			<if test="pay_sn != null">#{pay_sn, jdbcType=VARCHAR},</if>
			<if test="callback_time != null">#{callback_time, jdbcType=TIMESTAMP},</if>
			<if test="remark != null">#{remark, jdbcType=VARCHAR},</if>
			<if test="pay_ip != null">#{pay_ip, jdbcType=VARCHAR},</if>
			<if test="operation_member_id != null">#{operation_member_id, jdbcType=INTEGER},</if>
			<if test="member_id != null">#{member_id, jdbcType=INTEGER},</if>
			<if test="agent_member_id != null">#{agent_member_id, jdbcType=INTEGER},</if>
			<if test="recharge_timestamp != null">#{recharge_timestamp, jdbcType=INTEGER},</if>
	    </trim>
	</insert>
	
	<!-- 修改 -->
	<update id="update">
		update
			wp_recharge_order
		set 
		<trim suffixOverrides="," >
			<if test="customer_id != null">customer_id=#{customer_id, jdbcType=INTEGER},</if>
			<if test="flow_no != null">flow_no=#{flow_no, jdbcType=VARCHAR},</if>
			<if test="amount != null">amount=#{amount, jdbcType=NUMERIC},</if>
			<if test="fee != null">fee=#{fee, jdbcType=NUMERIC},</if>
			<if test="payment_method != null">payment_method=#{payment_method, jdbcType=INTEGER},</if>
			<if test="status != null">status=#{status, jdbcType=INTEGER},</if>
			<if test="recharge_time != null">recharge_time=#{recharge_time, jdbcType=TIMESTAMP},</if>
			<if test="pay_sn != null">pay_sn=#{pay_sn, jdbcType=VARCHAR},</if>
			<if test="callback_time != null">callback_time=#{callback_time, jdbcType=TIMESTAMP},</if>
			<if test="remark != null">remark=#{remark, jdbcType=VARCHAR},</if>
			<if test="pay_ip != null">pay_ip=#{pay_ip, jdbcType=VARCHAR},</if>
			<if test="operation_member_id != null">operation_member_id=#{operation_member_id, jdbcType=INTEGER},</if>
			<if test="member_id != null">member_id=#{member_id, jdbcType=INTEGER},</if>
			<if test="agent_member_id != null">agent_member_id=#{agent_member_id, jdbcType=INTEGER},</if>
			<if test="recharge_timestamp != null">recharge_timestamp=#{recharge_timestamp, jdbcType=INTEGER},</if>
	    </trim>
		where 
			id = #{id}
	</update>
	
	<!--删除-->
	<delete id="delete" parameterType="Integer">
		delete from 
			wp_recharge_order
		where id=#{id} 
	</delete>
	
	<!-- 批量删除 -->
	<delete id="deleteBatch">
		delete  from
			wp_recharge_order
		where 
			id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id} 
        </foreach>
	</delete>
	
	<!-- 判断是否重复 -->
	<select id="isExist" resultType="Boolean">
		select 
			(case when count(0)>0 then 1 else 0 end) 
		from wp_recharge_order
		<trim prefix="where" prefixOverrides="and|or">
			<if test="id != null">and id&lt;&gt;#{id, jdbcType=INTEGER}}</if>
			<if test="flow_no != null and flow_no != ''">and flow_no=#{flow_no, jdbcType=VARCHAR}</if>
			<if test="pay_sn != null and pay_sn != ''">and pay_sn=#{pay_sn, jdbcType=VARCHAR}</if>
			<if test="remark != null and remark != ''">and remark=#{remark, jdbcType=VARCHAR}</if>
			<if test="pay_ip != null and pay_ip != ''">and pay_ip=#{pay_ip, jdbcType=VARCHAR}</if>
		</trim>
	</select>
</mapper>