<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<!-- 角色表(sys_role) -->
<mapper namespace="com.tsstu.console.dao.RoleMapper" >
	<resultMap id="BaseResultMap" type="com.tsstu.console.model.Role">
		<id column="id" property="id" jdbcType="INTEGER" />
		<result column="name" property="name" jdbcType="VARCHAR" />
		<result column="status" property="status" jdbcType="INTEGER" />
		<result column="sort" property="sort" jdbcType="INTEGER" />
		<result column="remark" property="remark" jdbcType="VARCHAR" />
	</resultMap>

	<!-- 查询列表 -->
	<select id="getList" resultMap="BaseResultMap">
		select 
			id,
			name,
			status,
			sort,
			remark
		from 
			sys_role	
		<trim prefix="where" prefixOverrides="and|or">
			<!-- 关键词检索 -->
			<if test="keywords!= null and keywords != ''">
				and (
					name like CONCAT(CONCAT('%', #{keywords }),'%')
					and remark like CONCAT(CONCAT('%', #{keywords }),'%')
				)
			</if>
			<if test="name != null and name != ''">
				and name = #{name}
			</if>
			<if test="status != null and status != ''">
				and status = #{status}
			</if>
		</trim>
		
		<if test="orderBy != null and orderBy != ''">
			order by ${orderBy } ${sort_direction }
		</if>
		<if test="orderBy == null or orderBy == ''">
			order by sort
		</if>
		
	</select>
	
	<!-- 根据id唯一查询 -->
	<select id="getOne" resultMap="BaseResultMap">
		select 
			id,
			name,
			status,
			sort,
			remark
		from 
			sys_role	
		where
			id = #{id}
	</select>
	
	<!-- 添加 -->
	<insert id="add" useGeneratedKeys="true" keyProperty="id" keyColumn="id">
	    insert into sys_role
	    <trim prefix="(" suffix=")" suffixOverrides="," >
			<if test="name != null">name,</if>
			<if test="status != null">status,</if>
			<if test="sort != null">sort,</if>
			<if test="remark != null">remark,</if>
	    </trim>
	    <trim prefix="values (" suffix=")" suffixOverrides="," >
			<if test="name != null">#{name, jdbcType=VARCHAR},</if>
			<if test="sort != null">#{sort, jdbcType=INTEGER},</if>
			<if test="status != null">#{status, jdbcType=INTEGER},</if>
			<if test="remark != null">#{remark, jdbcType=VARCHAR},</if>
	    </trim>
	</insert>
	
	<!-- 修改 -->
	<update id="update">
		update
			sys_role
		set 
		<trim suffixOverrides="," >
			<if test="id != null">id=#{id, jdbcType=INTEGER},</if>
			<if test="name != null">name=#{name, jdbcType=VARCHAR},</if>
			<if test="sort != null">sort=#{sort, jdbcType=INTEGER},</if>
			<if test="status != null">status=#{status, jdbcType=INTEGER},</if>
			<if test="remark != null">remark=#{remark, jdbcType=VARCHAR},</if>
	    </trim>
		where 
			id = #{id}
	</update>
	
	<!-- 根据id删除 -->
	<delete id="delete"  parameterType="Integer">
		delete  from
			sys_role
		where 
			id = #{id}
	</delete>
	
	<!-- 批量删除 -->
	<delete id="deleteBatch">
		delete  from
			sys_role
		where 
			id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
	</delete>
</mapper>