<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<!-- 消息子项(微信)(wx_wechat_msg_item) -->
<mapper namespace="com.tsstu.console.dao.WechatMsgItemMapper" >

	<resultMap id="BaseResultMap" type="com.tsstu.console.model.WechatMsgItem">
		<id column="id" property="id" jdbcType="INTEGER" />
		<result column="wechat_msg_id" property="wechat_msg_id" jdbcType="INTEGER" />
		<result column="title" property="title" jdbcType="VARCHAR" />
		<result column="description" property="description" jdbcType="VARCHAR" />
		<result column="image_url" property="image_url" jdbcType="VARCHAR" />
		<result column="url" property="url" jdbcType="VARCHAR" />
		<result column="status" property="status" jdbcType="INTEGER" />
		<result column="create_time" property="create_time" jdbcType="TIMESTAMP" />
		<result column="remark" property="remark" jdbcType="VARCHAR" />
		<result column="sort" property="sort" jdbcType="INTEGER" />
	</resultMap>
	
	<!-- 查询列表 -->
	<select id="getList" resultMap="BaseResultMap">
		select
			id,
			wechat_msg_id,
			title,
			description,
			image_url,
			url,
			status,
			create_time,
			remark,
			sort
		from 
			wx_wechat_msg_item
		<trim prefix="where" prefixOverrides="and|or">
			<!-- 关键词检索 -->
			<if test="keywords!= null and keywords != ''">
				and (
					 title like CONCAT(CONCAT('%', #{keywords }),'%')
					or description like CONCAT(CONCAT('%', #{keywords }),'%')
					or image_url like CONCAT(CONCAT('%', #{keywords }),'%')
					or url like CONCAT(CONCAT('%', #{keywords }),'%')
					or remark like CONCAT(CONCAT('%', #{keywords }),'%')
				)
			</if>
			<if test="title != null and title != ''">
				and title = #{title}
			</if>
			<if test="description != null and description != ''">
				and description = #{description}
			</if>
			<if test="image_url != null and image_url != ''">
				and image_url = #{image_url}
			</if>
			<if test="url != null and url != ''">
				and url = #{url}
			</if>
			<if test="status != null and status != ''">
				and status = #{status}
			</if>
			<if test="remark != null and remark != ''">
				and remark = #{remark}
			</if>
			<if test="sort != null and sort != ''">
				and sort = #{sort}
			</if>
		</trim>
		<if test="orderBy != null and orderBy != ''">
			order by #{orderBy } #{direction }
		</if>
		<if test="orderBy == null or orderBy == ''">
			order by id desc
		</if>
	</select>
	
	<!-- 根据id唯一查询 -->
	<select id="getOne" resultMap="BaseResultMap">
		select 
			id,
			wechat_msg_id,
			title,
			description,
			image_url,
			url,
			status,
			create_time,
			remark,
			sort
		from  
			wx_wechat_msg_item 
		where 
			id = #{id} limit 1
	</select>

	<!-- 添加 -->
	<insert id="add" useGeneratedKeys="true" keyProperty="id" keyColumn="id">
	    insert into wx_wechat_msg_item
	    <trim prefix="(" suffix=")" suffixOverrides="," >
			<if test="wechat_msg_id != null">wechat_msg_id,</if>
			<if test="title != null">title,</if>
			<if test="description != null">description,</if>
			<if test="image_url != null">image_url,</if>
			<if test="url != null">url,</if>
			<if test="status != null">status,</if>
			<if test="create_time != null">create_time,</if>
			<if test="remark != null">remark,</if>
			<if test="sort != null">sort,</if>
	    </trim>
	    <trim prefix="values (" suffix=")" suffixOverrides="," >
			<if test="wechat_msg_id != null">#{wechat_msg_id, jdbcType=INTEGER},</if>
			<if test="title != null">#{title, jdbcType=VARCHAR},</if>
			<if test="description != null">#{description, jdbcType=VARCHAR},</if>
			<if test="image_url != null">#{image_url, jdbcType=VARCHAR},</if>
			<if test="url != null">#{url, jdbcType=VARCHAR},</if>
			<if test="status != null">#{status, jdbcType=INTEGER},</if>
			<if test="create_time != null">#{create_time, jdbcType=TIMESTAMP},</if>
			<if test="remark != null">#{remark, jdbcType=VARCHAR},</if>
			<if test="sort != null">#{sort, jdbcType=INTEGER},</if>
	    </trim>
	</insert>
	
	<!-- 修改 -->
	<update id="update">
		update
			wx_wechat_msg_item
		set 
		<trim suffixOverrides="," >
			<if test="wechat_msg_id != null">wechat_msg_id = #{wechat_msg_id, jdbcType=INTEGER},</if>
			<if test="title != null">title = #{title, jdbcType=VARCHAR},</if>
			<if test="description != null">description = #{description, jdbcType=VARCHAR},</if>
			<if test="image_url != null">image_url = #{image_url, jdbcType=VARCHAR},</if>
			<if test="url != null">url = #{url, jdbcType=VARCHAR},</if>
			<if test="status != null">status = #{status, jdbcType=INTEGER},</if>
			<if test="remark != null">remark = #{remark, jdbcType=VARCHAR},</if>
			<if test="sort != null">sort = #{sort, jdbcType=INTEGER},</if>
	    </trim>
		where 
			id = #{id}
	</update>
	
	<!--删除-->
	<delete id="delete" parameterType="Integer">
		delete from 
			wx_wechat_msg_item
		where id=#{id} 
	</delete>
	
	<!-- 批量删除 -->
	<delete id="deleteBatch">
		delete  from
			wx_wechat_msg_item
		where 
			id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id} 
        </foreach>
	</delete>
	
	<!-- 判断是否重复 -->
	<select id="isExist" resultType="Boolean">
		select 
			(case when count(0)>0 then 1 else 0 end) 
		from wx_wechat_msg_item
		<trim prefix="where" prefixOverrides="and|or">
			<if test="id != null">and id&lt;&gt;#{id, jdbcType=INTEGER}</if>
			<if test="title != null and title != ''">and title=#{title, jdbcType=VARCHAR}</if>
			<if test="description != null and description != ''">and description=#{description, jdbcType=VARCHAR}</if>
			<if test="image_url != null and image_url != ''">and image_url=#{image_url, jdbcType=VARCHAR}</if>
			<if test="url != null and url != ''">and url=#{url, jdbcType=VARCHAR}</if>
			<if test="remark != null and remark != ''">and remark=#{remark, jdbcType=VARCHAR}</if>
		</trim>
	</select>
</mapper>